/* 変数 */
:root {
    --TOP_SAFE: 180px;
    --LR_SAFE: 15%;
    --LR_SAFE_MOBILE: 10%;
    --Z_INDEX_HEADER: 10;
    --Z_INDEX_HUMBERGER_MENU: 11;
    --MOBILE_MAX_WIDTH: 959px;
    --PC_MIN_WIDTH: 960px;
}

body {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    background-color: white;
    color: #555555;
}

body.loading {
    overflow: hidden;
}

header {
    position: fixed;
    z-index: var(--Z_INDEX_HEADER);
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    a {
        color: #555555;
        text-decoration: none;
    }
}

.header_title {
    float: left;
    padding: 10px 0px 0px var(--LR_SAFE);
}

.contents_title {
    text-align: center;
}

#partner_baner {
    margin: 65px 50px 50px 50px;
    text-align: center;
}

footer {
    width: 100%;
    margin-bottom: 75px;
}

.detail {
    margin-left: var(--LR_SAFE);
    padding-top: 10px;
}

.copyright {
    text-align: right;
    margin-right: var(--LR_SAFE);
}

.company_profile {
    background-color: rgba(255, 255, 255, 0.6);
}

a {
    color: #333333;
}

.partner_logo_array a {
    margin: 10px;
    text-decoration: none;
}

.contact-form {
    margin-top: var(--TOP_SAFE);
    text-align: center;
}

/* ローディング */
#loading {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-color: rgb(255, 255, 255);
}
.loading_animation {
    width: 50px;
    height: 50px;
    background-color: #999999;
    border-radius: 100%;
    animation: sk-scaleout 1s infinite ease-in-out;
}

#loading.loaded {
    opacity: 0;
    visibility: hidden;
}

@keyframes sk-scaleout {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
}

/* レスポンシブ対応 [モバイル] */
@media screen and (max-width: 959px) {
    /* PC向けメニューを非表示 */
    .header_menu_pc {
        display: none;
    }
    .contents {
        margin: var(--TOP_SAFE) var(--LR_SAFE_MOBILE) 0 var(--LR_SAFE_MOBILE);
    }

    /* モバイル向けメニューCSS */
    #header_menu_mobile {
        z-index: var(--Z_INDEX_HUMBERGER_MENU);
        background-color: transparent;
        position: relative;
        cursor: pointer;
        margin: 0 0 0 auto;
        height: 60px;
        width: 60px;
        top: 32px;
        right: var(--LR_SAFE_MOBILE);
    }
    .menu_icon span {
        z-index: var(--Z_INDEX_HUMBERGER_MENU);
        position: absolute;
        left: 15px;
        width: 30px;
        height: 2px;
        background-color: rgb(85, 85, 85);
        border-radius: 8px;
        transition: ease 0.4s;
    }
    .menu_icon span:nth-of-type(1) {
      top: 3px;
    }
    .menu_icon span:nth-of-type(2) {
      top: 13px;
    }
    .menu_icon span:nth-of-type(3) {
      bottom:35px;
    }
    .close span:nth-of-type(1) {
      transform: rotate(45deg);
      top: 13px;
    }
    .close span:nth-of-type(2) {
      opacity: 0;
    }
    .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 13px;
    }
    .header_menu_mobile_list {
        /*最初は隠しておく*/
        display: none;
        z-index: var(--Z_INDEX_HUMBERGER_MENU);
        top: 90px;
        left: 0px;
        position: absolute;
        width: 100%;
        background-color: #5f5f5f;
    }
    .header_menu_mobile_list ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    .header_menu_mobile_list a {
        text-align: center;
        border-top: solid 0.5px #ffffff77;
        display: block;
        line-height: 60px;
        padding: 0 20px;
        color: rgb(218, 218, 218);
        transition: all 0.75s;
    }
    .header_menu_mobile_list a:hover {
        background-color: rgb(219, 219, 219);
        color: #666666;
    }
    .news_content {
        display: flex;
        flex-flow: column;
        border-radius: 10px;
        border: solid 0.5px #33333333;
        background-color: rgba(255, 255, 255, 0.6);
        margin-bottom: 15px;
    }
    .news_date {
        background-color: #d4d4d4;
        margin: 0;
        border-top-left-radius: 9.5px;
        border-top-right-radius: 9.5px;
        padding: 5px 15px 5px 15px;
    }
    .news_detail {
        padding: 5px 15px 5px 25px;
    }
    .profile_data {
        display: flex;
        flex-flow: column;
        border: solid 0.5px #33333333;
    }
    .profile_data .title {
        background-color: #d4d4d4;
        margin: 0;
        padding: 5px 15px 5px 15px;
    }
    .profile_data .profile_detail {
        padding: 5px 15px 5px 25px;
    }
    .contact-form iframe {
        width: 90%;
        height: 70vh;
        background-color: #f0f0f0;
    }
    /*Slick用*/
    .carousel {
      display: block;
      margin: 0 auto;
      width: 300px;
    }
}

/* レスポンシブ対応 [PC] */
@media screen and (min-width: 960px) {
    /* モバイル向けメニューを非表示 */
    #header_menu_mobile {
        display: none;   
    }
    .header_menu_mobile_list {
        display: none;
    }
    .contents {
        margin: var(--TOP_SAFE) var(--LR_SAFE_MOBILE) 0 var(--LR_SAFE_MOBILE);
    }

    /* PC用メニューCSS */
    .header_menu_pc {
        display: flex;
        justify-content: flex-end;
        padding: 18px var(--LR_SAFE) 0px 0px;
    }
    .menu_link {
        font-size: 12px;
        padding: 20px;
        float: none;
    }
    a.menu_link {
      background-image: linear-gradient(90deg, #8b8b8b, #8b8b8b);
      background-size: 0 1px;
      background-position: center bottom;
      background-repeat: no-repeat;
      transition: all 0.3s;
    }
    a.menu_link:hover {
        background-size: 90% 1px;
    }
    .news_content {
        margin: auto;
        width: 600px;
        border-top: solid 1px #afafaf8b;
        border-left: solid 1px #afafaf8b;
        border-right: solid 1px #afafaf8b;
        border-bottom: none;
        display: flex;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .news_content:last-child {
        border-top: none;
        border: solid 1px #afafaf8b;
    }
    .news_date {
        text-align: center;
        margin: auto;
        flex: 1;
    }
    .news_detail {
        padding: 5px 15px 5px 25px;
        border-left: solid 1px #afafaf8b;
        flex: 3;
    }
    .company_profile {
        margin: auto;
        width: 600px;
    }
    .profile_data {
        display: flex;
        border-top: solid 1px #afafaf8b;
        border-left: solid 1px #afafaf8b;
        border-right: solid 1px #afafaf8b;
        border-bottom: none;
    }
    .profile_data:last-child {
        display: flex;
        border: solid 1px #afafaf8b;
    }
    .profile_data .title {
        text-align: center;
        margin: auto 5px auto 5px;
        flex: 1;
    }
    .profile_data .profile_detail {
        padding: 5px 15px 5px 25px;
        border-left: solid 1px #afafaf8b;
        flex: 4;
    }
    .contact-form iframe {
        width: 60%;
        height: 70vh;
        background-color: #f0f0f0;
    }
    /*Slick用*/
    .carousel {
      display: block;
      margin: 0 auto;
      width: 500px;
    }
}

/* モバイル・PC共通 particle.js用 */
#particles-js {
    z-index: -1;
    position: fixed;
    width:100%;
    height: 100%;
    background-color: #ffffff;
}
canvas { 
    position: fixed;
    top: 0;
    left: 0;
}

.carousel img {
  display: block;
  margin: 0 auto;
  width: 100%;
}